FAUCET_IMAGE_TAG=master

TONCENTER_API_KEY="replace with toncenter api key"
FAUCET_MNEMONIC="replace with 24-word mnemonic"

GITHUB_AUTH_ENABLED=true
GITHUB_CLIENT_ID="replace with GitHub App client ID"
GITHUB_CLIENT_SECRET="replace with GitHub App client secret"
GITHUB_CALLBACK_URL=https://faucet.acton.monster/auth/github/callback
GITHUB_FRONTEND_URL=https://actonscan.com/faucet
