# Acton project directories
.acton/
/objs/

# Rust build artifacts
target/
Cargo.lock

# IDE files
.vscode/
.idea/
*.swp
*.swo

docs/.astro
docs/.source
docs/out

**/dist
**/node_modules
**/target
toncenter-*.json

# OS files
.DS_Store
Thumbs.db

**/.eslintcache

gen/
*.mnemonic
wallets.toml
global.wallets.toml

crates/acton-test-ui/node_modules
crates/acton-test-ui/dist
