.git
.github
.idea
.localton
target

*.log
*.zip
*.tar
*.tar.gz
*.tgz
*.7z
*.rar
*.xz
*.bz2

**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.seed
**/*.mnemonic
**/*.pk
**/*.private
**/keyring
**/certs
**/keystore
