.breadcrumbs {
  margin-bottom: 4px;
}

.address > span {
  color: var(--acton-color-accent);
}

.breadcrumbs [aria-current="page"] .address > span {
  color: var(--acton-color-text);
}

.breadcrumbs a:hover .address > span {
  text-decoration: underline;
}

@media (max-width: 520px) {
  .breadcrumbs {
    margin-top: -8px;
    margin-bottom: 0;
  }
}
