:root {
  --vscode-font-family: -apple-system, blinkmacsystemfont, sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: "JetBrainsMono Nerd Font", menlo, monaco, "Courier New", monospace;
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 13px;
  --text-link-decoration: none;
  --vscode-foreground: #3b3b3b;
  --vscode-disabledForeground: rgb(97 97 97 / 50%);
  --vscode-errorForeground: #f85149;
  --vscode-descriptionForeground: #3b3b3b;
  --vscode-icon-foreground: #3b3b3b;
  --vscode-focusBorder: #005fb8;
  --vscode-textLink-foreground: #005fb8;
  --vscode-textLink-activeForeground: #005fb8;
  --vscode-textSeparator-foreground: #21262d;
  --vscode-textPreformat-foreground: #3b3b3b;
  --vscode-textPreformat-background: rgb(0 0 0 / 12%);
  --vscode-textBlockQuote-background: #f8f8f8;
  --vscode-textBlockQuote-border: #e5e5e5;
  --vscode-textCodeBlock-background: #f8f8f8;
  --vscode-sash-hoverBorder: #005fb8;
  --vscode-badge-background: #ccc;
  --vscode-badge-foreground: #3b3b3b;
  --vscode-activityWarningBadge-foreground: #fff;
  --vscode-activityWarningBadge-background: #bf8803;
  --vscode-activityErrorBadge-foreground: #fff;
  --vscode-activityErrorBadge-background: #e51400;
  --vscode-scrollbar-shadow: #ddd;
  --vscode-scrollbarSlider-background: rgb(100 100 100 / 40%);
  --vscode-scrollbarSlider-hoverBackground: rgb(100 100 100 / 70%);
  --vscode-scrollbarSlider-activeBackground: rgb(0 0 0 / 60%);
  --vscode-progressBar-background: #005fb8;
  --vscode-chart-line: #236b8e;
  --vscode-chart-axis: rgb(0 0 0 / 60%);
  --vscode-chart-guide: rgb(0 0 0 / 20%);
  --vscode-editor-background: #fff;
  --vscode-editor-foreground: #3b3b3b;
  --vscode-editorStickyScroll-background: #fff;
  --vscode-editorStickyScrollGutter-background: #fff;
  --vscode-editorStickyScrollHover-background: #f0f0f0;
  --vscode-editorStickyScroll-shadow: #ddd;
  --vscode-editorWidget-background: #f8f8f8;
  --vscode-editorWidget-foreground: #3b3b3b;
  --vscode-editorWidget-border: #c8c8c8;
  --vscode-editorError-foreground: #e51400;
  --vscode-editorWarning-foreground: #bf8803;
  --vscode-editorInfo-foreground: #1a85ff;
  --vscode-editorHint-foreground: #6c6c6c;
  --vscode-editorLink-activeForeground: #00f;
  --vscode-editor-selectionBackground: #add6ff;
  --vscode-editor-inactiveSelectionBackground: #e5ebf1;
  --vscode-editor-selectionHighlightBackground: rgb(173 214 255 / 50%);
  --vscode-editor-compositionBorder: #000;
  --vscode-editor-findMatchBackground: #a8ac94;
  --vscode-editor-findMatchHighlightBackground: rgb(234 92 0 / 33%);
  --vscode-editor-findRangeHighlightBackground: rgb(180 180 180 / 30%);
  --vscode-editor-hoverHighlightBackground: rgb(173 214 255 / 15%);
  --vscode-editorHoverWidget-background: #f8f8f8;
  --vscode-editorHoverWidget-foreground: #3b3b3b;
  --vscode-editorHoverWidget-border: #c8c8c8;
  --vscode-editorHoverWidget-statusBarBackground: #ececec;
  --vscode-editorInlayHint-foreground: #969696;
  --vscode-editorInlayHint-background: rgb(204 204 204 / 10%);
  --vscode-editorInlayHint-typeForeground: #969696;
  --vscode-editorInlayHint-typeBackground: rgb(204 204 204 / 10%);
  --vscode-editorInlayHint-parameterForeground: #969696;
  --vscode-editorInlayHint-parameterBackground: rgb(204 204 204 / 10%);
  --vscode-editorLightBulb-foreground: #ddb100;
  --vscode-editorLightBulbAutoFix-foreground: #007acc;
  --vscode-editorLightBulbAi-foreground: #ddb100;
  --vscode-editor-snippetTabstopHighlightBackground: rgb(10 50 100 / 20%);
  --vscode-editor-snippetFinalTabstopHighlightBorder: rgb(10 50 100 / 50%);
  --vscode-diffEditor-insertedTextBackground: rgb(156 204 44 / 25%);
  --vscode-diffEditor-removedTextBackground: rgb(255 0 0 / 20%);
  --vscode-diffEditor-insertedLineBackground: rgb(155 185 85 / 20%);
  --vscode-diffEditor-removedLineBackground: rgb(255 0 0 / 20%);
  --vscode-diffEditor-diagonalFill: rgb(34 34 34 / 20%);
  --vscode-diffEditor-unchangedRegionBackground: #f8f8f8;
  --vscode-diffEditor-unchangedRegionForeground: #3b3b3b;
  --vscode-diffEditor-unchangedCodeBackground: rgb(184 184 184 / 16%);
  --vscode-widget-shadow: rgb(0 0 0 / 16%);
  --vscode-widget-border: #e5e5e5;
  --vscode-toolbar-hoverBackground: rgb(184 184 184 / 31%);
  --vscode-toolbar-activeBackground: rgb(166 166 166 / 31%);
  --vscode-breadcrumb-foreground: rgb(59 59 59 / 80%);
  --vscode-breadcrumb-background: #fff;
  --vscode-breadcrumb-focusForeground: #2f2f2f;
  --vscode-breadcrumb-activeSelectionForeground: #2f2f2f;
  --vscode-breadcrumbPicker-background: #f8f8f8;
  --vscode-merge-currentHeaderBackground: rgb(64 200 174 / 50%);
  --vscode-merge-currentContentBackground: rgb(64 200 174 / 20%);
  --vscode-merge-incomingHeaderBackground: rgb(64 166 255 / 50%);
  --vscode-merge-incomingContentBackground: rgb(64 166 255 / 20%);
  --vscode-merge-commonHeaderBackground: rgb(96 96 96 / 40%);
  --vscode-merge-commonContentBackground: rgb(96 96 96 / 16%);
  --vscode-editorOverviewRuler-currentContentForeground: rgb(64 200 174 / 50%);
  --vscode-editorOverviewRuler-incomingContentForeground: rgb(64 166 255 / 50%);
  --vscode-editorOverviewRuler-commonContentForeground: rgb(96 96 96 / 40%);
  --vscode-editorOverviewRuler-findMatchForeground: rgb(209 134 22 / 49%);
  --vscode-editorOverviewRuler-selectionHighlightForeground: rgb(160 160 160 / 80%);
  --vscode-problemsErrorIcon-foreground: #e51400;
  --vscode-problemsWarningIcon-foreground: #bf8803;
  --vscode-problemsInfoIcon-foreground: #1a85ff;
  --vscode-minimap-findMatchHighlight: #d18616;
  --vscode-minimap-selectionOccurrenceHighlight: #c9c9c9;
  --vscode-minimap-selectionHighlight: #add6ff;
  --vscode-minimap-infoHighlight: #1a85ff;
  --vscode-minimap-warningHighlight: #bf8803;
  --vscode-minimap-errorHighlight: rgb(255 18 18 / 70%);
  --vscode-minimap-foregroundOpacity: #000;
  --vscode-minimapSlider-background: rgb(100 100 100 / 20%);
  --vscode-minimapSlider-hoverBackground: rgb(100 100 100 / 35%);
  --vscode-minimapSlider-activeBackground: rgb(0 0 0 / 30%);
  --vscode-charts-foreground: #3b3b3b;
  --vscode-charts-lines: rgb(59 59 59 / 50%);
  --vscode-charts-red: #e51400;
  --vscode-charts-blue: #1a85ff;
  --vscode-charts-yellow: #bf8803;
  --vscode-charts-orange: #d18616;
  --vscode-charts-green: #388a34;
  --vscode-charts-purple: #652d90;
  --vscode-input-background: #fff;
  --vscode-input-foreground: #3b3b3b;
  --vscode-input-border: #cecece;
  --vscode-inputOption-activeBorder: #005fb8;
  --vscode-inputOption-hoverBackground: rgb(184 184 184 / 31%);
  --vscode-inputOption-activeBackground: #bed6ed;
  --vscode-inputOption-activeForeground: #000;
  --vscode-input-placeholderForeground: #767676;
  --vscode-inputValidation-infoBackground: #d6ecf2;
  --vscode-inputValidation-infoBorder: #007acc;
  --vscode-inputValidation-warningBackground: #f6f5d2;
  --vscode-inputValidation-warningBorder: #b89500;
  --vscode-inputValidation-errorBackground: #f2dede;
  --vscode-inputValidation-errorBorder: #be1100;
  --vscode-dropdown-background: #fff;
  --vscode-dropdown-listBackground: #fff;
  --vscode-dropdown-foreground: #3b3b3b;
  --vscode-dropdown-border: #cecece;
  --vscode-button-foreground: #fff;
  --vscode-button-separator: rgb(255 255 255 / 40%);
  --vscode-button-background: #005fb8;
  --vscode-button-hoverBackground: #0258a8;
  --vscode-button-border: rgb(0 0 0 / 10%);
  --vscode-button-secondaryForeground: #3b3b3b;
  --vscode-button-secondaryBackground: #e5e5e5;
  --vscode-button-secondaryHoverBackground: #ccc;
  --vscode-radio-activeForeground: #000;
  --vscode-radio-activeBackground: #bed6ed;
  --vscode-radio-activeBorder: #005fb8;
  --vscode-radio-inactiveBorder: rgb(0 0 0 / 20%);
  --vscode-radio-inactiveHoverBackground: rgb(184 184 184 / 31%);
  --vscode-checkbox-background: #f8f8f8;
  --vscode-checkbox-selectBackground: #f8f8f8;
  --vscode-checkbox-foreground: #3b3b3b;
  --vscode-checkbox-border: #cecece;
  --vscode-checkbox-selectBorder: #3b3b3b;
  --vscode-checkbox-disabled\.background: #b9b9b9;
  --vscode-checkbox-disabled\.foreground: #797979;
  --vscode-keybindingLabel-background: rgb(221 221 221 / 40%);
  --vscode-keybindingLabel-foreground: #3b3b3b;
  --vscode-keybindingLabel-border: rgb(204 204 204 / 40%);
  --vscode-keybindingLabel-bottomBorder: rgb(187 187 187 / 40%);
  --vscode-list-focusOutline: #005fb8;
  --vscode-list-focusAndSelectionOutline: #005fb8;
  --vscode-list-activeSelectionBackground: #e8e8e8;
  --vscode-list-activeSelectionForeground: #000;
  --vscode-list-activeSelectionIconForeground: #000;
  --vscode-list-inactiveSelectionBackground: #e4e6f1;
  --vscode-list-hoverBackground: #f2f2f2;
  --vscode-list-dropBackground: #d6ebff;
  --vscode-list-dropBetweenBackground: #3b3b3b;
  --vscode-list-highlightForeground: #0066bf;
  --vscode-list-focusHighlightForeground: #0066bf;
  --vscode-list-invalidItemForeground: #b89500;
  --vscode-list-errorForeground: #b01011;
  --vscode-list-warningForeground: #855f00;
  --vscode-listFilterWidget-background: #f8f8f8;
  --vscode-listFilterWidget-outline: rgb(0 0 0 / 0%);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-listFilterWidget-shadow: rgb(0 0 0 / 16%);
  --vscode-list-filterMatchBackground: rgb(234 92 0 / 33%);
  --vscode-list-deemphasizedForeground: #8e8e90;
  --vscode-tree-indentGuidesStroke: #a9a9a9;
  --vscode-tree-inactiveIndentGuidesStroke: rgb(169 169 169 / 40%);
  --vscode-tree-tableColumnsBorder: rgb(97 97 97 / 13%);
  --vscode-tree-tableOddRowsBackground: rgb(59 59 59 / 4%);
  --vscode-editorActionList-background: #f8f8f8;
  --vscode-editorActionList-foreground: #3b3b3b;
  --vscode-editorActionList-focusForeground: #000;
  --vscode-editorActionList-focusBackground: #e8e8e8;
  --vscode-menu-border: #cecece;
  --vscode-menu-foreground: #3b3b3b;
  --vscode-menu-background: #fff;
  --vscode-menu-selectionForeground: #fff;
  --vscode-menu-selectionBackground: #005fb8;
  --vscode-menu-separatorBackground: #d4d4d4;
  --vscode-quickInput-background: #f8f8f8;
  --vscode-quickInput-foreground: #3b3b3b;
  --vscode-quickInputTitle-background: rgb(0 0 0 / 6%);
  --vscode-pickerGroup-foreground: #8b949e;
  --vscode-pickerGroup-border: #e5e5e5;
  --vscode-quickInputList-focusForeground: #000;
  --vscode-quickInputList-focusIconForeground: #000;
  --vscode-quickInputList-focusBackground: #e8e8e8;
  --vscode-search-resultsInfoForeground: #3b3b3b;
  --vscode-searchEditor-findMatchBackground: rgb(234 92 0 / 22%);
  --vscode-editor-lineHighlightBorder: #eee;
  --vscode-editor-rangeHighlightBackground: rgb(253 255 0 / 20%);
  --vscode-editor-symbolHighlightBackground: rgb(234 92 0 / 33%);
  --vscode-editorCursor-foreground: #000;
  --vscode-editorMultiCursor-primary\.foreground: #000;
  --vscode-editorMultiCursor-secondary\.foreground: #000;
  --vscode-editorWhitespace-foreground: rgb(51 51 51 / 20%);
  --vscode-editorLineNumber-foreground: #6e7681;
  --vscode-editorIndentGuide-background: rgb(51 51 51 / 20%);
  --vscode-editorIndentGuide-activeBackground: rgb(51 51 51 / 20%);
  --vscode-editorIndentGuide-background1: #d3d3d3;
  --vscode-editorIndentGuide-background2: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-background3: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-background4: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-background5: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-background6: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-activeBackground1: #939393;
  --vscode-editorIndentGuide-activeBackground2: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-activeBackground3: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-activeBackground4: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-activeBackground5: rgb(0 0 0 / 0%);
  --vscode-editorIndentGuide-activeBackground6: rgb(0 0 0 / 0%);
  --vscode-editorActiveLineNumber-foreground: #0b216f;
  --vscode-editorLineNumber-activeForeground: #171184;
  --vscode-editorRuler-foreground: #d3d3d3;
  --vscode-editorCodeLens-foreground: #919191;
  --vscode-editorBracketMatch-background: rgb(0 100 0 / 10%);
  --vscode-editorBracketMatch-border: #b9b9b9;
  --vscode-editorOverviewRuler-border: #e5e5e5;
  --vscode-editorGutter-background: #fff;
  --vscode-editorUnnecessaryCode-opacity: rgb(0 0 0 / 47%);
  --vscode-editorGhostText-foreground: rgb(0 0 0 / 47%);
  --vscode-editorOverviewRuler-rangeHighlightForeground: rgb(0 122 204 / 60%);
  --vscode-editorOverviewRuler-errorForeground: rgb(255 18 18 / 70%);
  --vscode-editorOverviewRuler-warningForeground: #bf8803;
  --vscode-editorOverviewRuler-infoForeground: #1a85ff;
  --vscode-editorBracketHighlight-foreground1: #0431fa;
  --vscode-editorBracketHighlight-foreground2: #319331;
  --vscode-editorBracketHighlight-foreground3: #7b3814;
  --vscode-editorBracketHighlight-foreground4: rgb(0 0 0 / 0%);
  --vscode-editorBracketHighlight-foreground5: rgb(0 0 0 / 0%);
  --vscode-editorBracketHighlight-foreground6: rgb(0 0 0 / 0%);
  --vscode-editorBracketHighlight-unexpectedBracket\.foreground: rgb(255 18 18 / 80%);
  --vscode-editorBracketPairGuide-background1: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-background2: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-background3: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-background4: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-background5: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-background6: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-activeBackground1: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-activeBackground2: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-activeBackground3: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-activeBackground4: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-activeBackground5: rgb(0 0 0 / 0%);
  --vscode-editorBracketPairGuide-activeBackground6: rgb(0 0 0 / 0%);
  --vscode-editorUnicodeHighlight-border: #bf8803;
  --vscode-diffEditor-move\.border: rgb(139 139 139 / 61%);
  --vscode-diffEditor-moveActive\.border: #ffa500;
  --vscode-diffEditor-unchangedRegionShadow: rgb(115 115 115 / 75%);
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-actionBar-toggledBackground: #ddd;
  --vscode-symbolIcon-arrayForeground: #3b3b3b;
  --vscode-symbolIcon-booleanForeground: #3b3b3b;
  --vscode-symbolIcon-classForeground: #d67e00;
  --vscode-symbolIcon-colorForeground: #3b3b3b;
  --vscode-symbolIcon-constantForeground: #3b3b3b;
  --vscode-symbolIcon-constructorForeground: #652d90;
  --vscode-symbolIcon-enumeratorForeground: #d67e00;
  --vscode-symbolIcon-enumeratorMemberForeground: #007acc;
  --vscode-symbolIcon-eventForeground: #d67e00;
  --vscode-symbolIcon-fieldForeground: #007acc;
  --vscode-symbolIcon-fileForeground: #3b3b3b;
  --vscode-symbolIcon-folderForeground: #3b3b3b;
  --vscode-symbolIcon-functionForeground: #652d90;
  --vscode-symbolIcon-interfaceForeground: #007acc;
  --vscode-symbolIcon-keyForeground: #3b3b3b;
  --vscode-symbolIcon-keywordForeground: #3b3b3b;
  --vscode-symbolIcon-methodForeground: #652d90;
  --vscode-symbolIcon-moduleForeground: #3b3b3b;
  --vscode-symbolIcon-namespaceForeground: #3b3b3b;
  --vscode-symbolIcon-nullForeground: #3b3b3b;
  --vscode-symbolIcon-numberForeground: #3b3b3b;
  --vscode-symbolIcon-objectForeground: #3b3b3b;
  --vscode-symbolIcon-operatorForeground: #3b3b3b;
  --vscode-symbolIcon-packageForeground: #3b3b3b;
  --vscode-symbolIcon-propertyForeground: #3b3b3b;
  --vscode-symbolIcon-referenceForeground: #3b3b3b;
  --vscode-symbolIcon-snippetForeground: #3b3b3b;
  --vscode-symbolIcon-stringForeground: #3b3b3b;
  --vscode-symbolIcon-structForeground: #3b3b3b;
  --vscode-symbolIcon-textForeground: #3b3b3b;
  --vscode-symbolIcon-typeParameterForeground: #3b3b3b;
  --vscode-symbolIcon-unitForeground: #3b3b3b;
  --vscode-symbolIcon-variableForeground: #007acc;
  --vscode-peekViewTitle-background: #f3f3f3;
  --vscode-peekViewTitleLabel-foreground: #000;
  --vscode-peekViewTitleDescription-foreground: #616161;
  --vscode-peekView-border: #1a85ff;
  --vscode-peekViewResult-background: #fff;
  --vscode-peekViewResult-lineForeground: #646465;
  --vscode-peekViewResult-fileForeground: #1e1e1e;
  --vscode-peekViewResult-selectionBackground: rgb(51 153 255 / 20%);
  --vscode-peekViewResult-selectionForeground: #6c6c6c;
  --vscode-peekViewEditor-background: #f2f8fc;
  --vscode-peekViewEditorGutter-background: #f2f8fc;
  --vscode-peekViewEditorStickyScroll-background: #f2f8fc;
  --vscode-peekViewEditorStickyScrollGutter-background: #f2f8fc;
  --vscode-peekViewResult-matchHighlightBackground: rgb(187 128 9 / 40%);
  --vscode-peekViewEditor-matchHighlightBackground: rgb(187 128 9 / 40%);
  --vscode-editor-foldBackground: rgb(173 214 255 / 30%);
  --vscode-editor-foldPlaceholderForeground: #808080;
  --vscode-editorGutter-foldingControlForeground: #3b3b3b;
  --vscode-editorSuggestWidget-background: #f8f8f8;
  --vscode-editorSuggestWidget-border: #c8c8c8;
  --vscode-editorSuggestWidget-foreground: #3b3b3b;
  --vscode-editorSuggestWidget-selectedForeground: #000;
  --vscode-editorSuggestWidget-selectedIconForeground: #000;
  --vscode-editorSuggestWidget-selectedBackground: #e8e8e8;
  --vscode-editorSuggestWidget-highlightForeground: #0066bf;
  --vscode-editorSuggestWidget-focusHighlightForeground: #0066bf;
  --vscode-editorSuggestWidgetStatus-foreground: rgb(59 59 59 / 50%);
  --vscode-inlineEdit-originalBackground: rgb(255 0 0 / 4%);
  --vscode-inlineEdit-modifiedBackground: rgb(156 204 44 / 7%);
  --vscode-inlineEdit-originalChangedLineBackground: rgb(255 0 0 / 16%);
  --vscode-inlineEdit-originalChangedTextBackground: rgb(255 0 0 / 16%);
  --vscode-inlineEdit-modifiedChangedLineBackground: rgb(155 185 85 / 14%);
  --vscode-inlineEdit-modifiedChangedTextBackground: rgb(156 204 44 / 18%);
  --vscode-inlineEdit-gutterIndicator\.primaryForeground: #fff;
  --vscode-inlineEdit-gutterIndicator\.primaryBorder: #005fb8;
  --vscode-inlineEdit-gutterIndicator\.primaryBackground: rgb(0 95 184 / 50%);
  --vscode-inlineEdit-gutterIndicator\.secondaryForeground: #3b3b3b;
  --vscode-inlineEdit-gutterIndicator\.secondaryBorder: #e5e5e5;
  --vscode-inlineEdit-gutterIndicator\.secondaryBackground: #e5e5e5;
  --vscode-inlineEdit-gutterIndicator\.successfulForeground: #fff;
  --vscode-inlineEdit-gutterIndicator\.successfulBorder: #005fb8;
  --vscode-inlineEdit-gutterIndicator\.successfulBackground: #005fb8;
  --vscode-inlineEdit-gutterIndicator\.background: rgb(95 95 95 / 9%);
  --vscode-inlineEdit-originalBorder: rgb(255 0 0 / 20%);
  --vscode-inlineEdit-modifiedBorder: rgb(62 81 18 / 25%);
  --vscode-inlineEdit-tabWillAcceptModifiedBorder: rgb(62 81 18 / 25%);
  --vscode-inlineEdit-tabWillAcceptOriginalBorder: rgb(255 0 0 / 20%);
  --vscode-editorMarkerNavigationError-background: #e51400;
  --vscode-editorMarkerNavigationError-headerBackground: rgb(229 20 0 / 10%);
  --vscode-editorMarkerNavigationWarning-background: #bf8803;
  --vscode-editorMarkerNavigationWarning-headerBackground: rgb(191 136 3 / 10%);
  --vscode-editorMarkerNavigationInfo-background: #1a85ff;
  --vscode-editorMarkerNavigationInfo-headerBackground: rgb(26 133 255 / 10%);
  --vscode-editorMarkerNavigation-background: #fff;
  --vscode-editor-linkedEditingBackground: rgb(255 0 0 / 30%);
  --vscode-editor-wordHighlightBackground: rgb(87 87 87 / 25%);
  --vscode-editor-wordHighlightStrongBackground: rgb(14 99 156 / 25%);
  --vscode-editor-wordHighlightTextBackground: rgb(87 87 87 / 25%);
  --vscode-editorOverviewRuler-wordHighlightForeground: rgb(160 160 160 / 80%);
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgb(192 160 192 / 80%);
  --vscode-editorOverviewRuler-wordHighlightTextForeground: rgb(160 160 160 / 80%);
  --vscode-editorHoverWidget-highlightForeground: #0066bf;
  --vscode-editor-placeholder\.foreground: rgb(0 0 0 / 47%);
  --vscode-tab-activeBackground: #fff;
  --vscode-tab-unfocusedActiveBackground: #fff;
  --vscode-tab-inactiveBackground: #f8f8f8;
  --vscode-tab-unfocusedInactiveBackground: #f8f8f8;
  --vscode-tab-activeForeground: #3b3b3b;
  --vscode-tab-inactiveForeground: #868686;
  --vscode-tab-unfocusedActiveForeground: rgb(59 59 59 / 70%);
  --vscode-tab-unfocusedInactiveForeground: rgb(134 134 134 / 50%);
  --vscode-tab-hoverBackground: #fff;
  --vscode-tab-unfocusedHoverBackground: #f8f8f8;
  --vscode-tab-border: #e5e5e5;
  --vscode-tab-lastPinnedBorder: #d4d4d4;
  --vscode-tab-activeBorder: #f8f8f8;
  --vscode-tab-unfocusedActiveBorder: #f8f8f8;
  --vscode-tab-activeBorderTop: #005fb8;
  --vscode-tab-unfocusedActiveBorderTop: #e5e5e5;
  --vscode-tab-selectedBorderTop: #68a3da;
  --vscode-tab-selectedBackground: rgb(255 255 255 / 65%);
  --vscode-tab-selectedForeground: rgb(51 51 51 / 70%);
  --vscode-tab-dragAndDropBorder: #3b3b3b;
  --vscode-tab-activeModifiedBorder: #3ae;
  --vscode-tab-inactiveModifiedBorder: rgb(51 170 238 / 50%);
  --vscode-tab-unfocusedActiveModifiedBorder: rgb(51 170 238 / 70%);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgb(51 170 238 / 25%);
  --vscode-editorPane-background: #fff;
  --vscode-editorGroupHeader-tabsBackground: #f8f8f8;
  --vscode-editorGroupHeader-tabsBorder: #e5e5e5;
  --vscode-editorGroupHeader-noTabsBackground: #fff;
  --vscode-editorGroup-border: #e5e5e5;
  --vscode-editorGroup-dropBackground: rgb(38 119 203 / 18%);
  --vscode-editorGroup-dropIntoPromptForeground: #3b3b3b;
  --vscode-editorGroup-dropIntoPromptBackground: #f8f8f8;
  --vscode-sideBySideEditor-horizontalBorder: #e5e5e5;
  --vscode-sideBySideEditor-verticalBorder: #e5e5e5;
  --vscode-banner-background: #a2a2a2;
  --vscode-banner-foreground: #000;
  --vscode-banner-iconForeground: #1a85ff;
  --vscode-statusBar-foreground: #3b3b3b;
  --vscode-statusBar-noFolderForeground: #3b3b3b;
  --vscode-statusBar-background: #f8f8f8;
  --vscode-statusBar-noFolderBackground: #f8f8f8;
  --vscode-statusBar-border: #e5e5e5;
  --vscode-statusBar-focusBorder: #005fb8;
  --vscode-statusBar-noFolderBorder: #e5e5e5;
  --vscode-statusBarItem-activeBackground: rgb(255 255 255 / 18%);
  --vscode-statusBarItem-focusBorder: #005fb8;
  --vscode-statusBarItem-hoverBackground: rgb(184 184 184 / 31%);
  --vscode-statusBarItem-hoverForeground: #3b3b3b;
  --vscode-statusBarItem-compactHoverBackground: #ccc;
  --vscode-statusBarItem-prominentForeground: #3b3b3b;
  --vscode-statusBarItem-prominentBackground: rgb(110 118 129 / 40%);
  --vscode-statusBarItem-prominentHoverForeground: #3b3b3b;
  --vscode-statusBarItem-prominentHoverBackground: rgb(184 184 184 / 31%);
  --vscode-statusBarItem-errorBackground: #c72e0f;
  --vscode-statusBarItem-errorForeground: #fff;
  --vscode-statusBarItem-errorHoverForeground: #3b3b3b;
  --vscode-statusBarItem-errorHoverBackground: rgb(184 184 184 / 31%);
  --vscode-statusBarItem-warningBackground: #725102;
  --vscode-statusBarItem-warningForeground: #fff;
  --vscode-statusBarItem-warningHoverForeground: #3b3b3b;
  --vscode-statusBarItem-warningHoverBackground: rgb(184 184 184 / 31%);
  --vscode-activityBar-background: #f8f8f8;
  --vscode-activityBar-foreground: #1f1f1f;
  --vscode-activityBar-inactiveForeground: #616161;
  --vscode-activityBar-border: #e5e5e5;
  --vscode-activityBar-activeBorder: #005fb8;
  --vscode-activityBar-dropBorder: #1f1f1f;
  --vscode-activityBarBadge-background: #005fb8;
  --vscode-activityBarBadge-foreground: #fff;
  --vscode-activityBarTop-foreground: #424242;
  --vscode-activityBarTop-activeBorder: #424242;
  --vscode-activityBarTop-inactiveForeground: rgb(66 66 66 / 75%);
  --vscode-activityBarTop-dropBorder: #424242;
  --vscode-panel-background: #f8f8f8;
  --vscode-panel-border: #e5e5e5;
  --vscode-panelTitle-activeForeground: #3b3b3b;
  --vscode-panelTitle-inactiveForeground: #3b3b3b;
  --vscode-panelTitle-activeBorder: #005fb8;
  --vscode-panelTitleBadge-background: #005fb8;
  --vscode-panelTitleBadge-foreground: #fff;
  --vscode-panelInput-border: #e5e5e5;
  --vscode-panel-dropBorder: #3b3b3b;
  --vscode-panelSection-dropBackground: rgb(38 119 203 / 18%);
  --vscode-panelSectionHeader-background: rgb(128 128 128 / 20%);
  --vscode-panelSection-border: #e5e5e5;
  --vscode-panelStickyScroll-background: #f8f8f8;
  --vscode-panelStickyScroll-shadow: #ddd;
  --vscode-profileBadge-background: #c4c4c4;
  --vscode-profileBadge-foreground: #333;
  --vscode-statusBarItem-remoteBackground: #005fb8;
  --vscode-statusBarItem-remoteForeground: #fff;
  --vscode-statusBarItem-remoteHoverForeground: #3b3b3b;
  --vscode-statusBarItem-remoteHoverBackground: rgb(184 184 184 / 31%);
  --vscode-statusBarItem-offlineBackground: #6c1717;
  --vscode-statusBarItem-offlineForeground: #fff;
  --vscode-statusBarItem-offlineHoverForeground: #3b3b3b;
  --vscode-statusBarItem-offlineHoverBackground: rgb(184 184 184 / 31%);
  --vscode-extensionBadge-remoteBackground: #005fb8;
  --vscode-extensionBadge-remoteForeground: #fff;
  --vscode-sideBar-background: #f8f8f8;
  --vscode-sideBar-foreground: #3b3b3b;
  --vscode-sideBar-border: #e5e5e5;
  --vscode-sideBarTitle-background: #f8f8f8;
  --vscode-sideBarTitle-foreground: #3b3b3b;
  --vscode-sideBar-dropBackground: rgb(38 119 203 / 18%);
  --vscode-sideBarSectionHeader-background: #f8f8f8;
  --vscode-sideBarSectionHeader-foreground: #3b3b3b;
  --vscode-sideBarSectionHeader-border: #e5e5e5;
  --vscode-sideBarActivityBarTop-border: #e5e5e5;
  --vscode-sideBarStickyScroll-background: #f8f8f8;
  --vscode-sideBarStickyScroll-shadow: #ddd;
  --vscode-titleBar-activeForeground: #1e1e1e;
  --vscode-titleBar-inactiveForeground: #8b949e;
  --vscode-titleBar-activeBackground: #f8f8f8;
  --vscode-titleBar-inactiveBackground: #f8f8f8;
  --vscode-titleBar-border: #e5e5e5;
  --vscode-menubar-selectionForeground: #1e1e1e;
  --vscode-menubar-selectionBackground: rgb(184 184 184 / 31%);
  --vscode-commandCenter-foreground: #1e1e1e;
  --vscode-commandCenter-activeForeground: #1e1e1e;
  --vscode-commandCenter-inactiveForeground: #8b949e;
  --vscode-commandCenter-background: rgb(0 0 0 / 5%);
  --vscode-commandCenter-activeBackground: rgb(0 0 0 / 8%);
  --vscode-commandCenter-border: rgb(30 30 30 / 20%);
  --vscode-commandCenter-activeBorder: rgb(30 30 30 / 30%);
  --vscode-commandCenter-inactiveBorder: rgb(139 148 158 / 25%);
  --vscode-notificationCenter-border: #e5e5e5;
  --vscode-notificationToast-border: #e5e5e5;
  --vscode-notifications-foreground: #3b3b3b;
  --vscode-notifications-background: #fff;
  --vscode-notificationLink-foreground: #005fb8;
  --vscode-notificationCenterHeader-foreground: #3b3b3b;
  --vscode-notificationCenterHeader-background: #fff;
  --vscode-notifications-border: #e5e5e5;
  --vscode-notificationsErrorIcon-foreground: #e51400;
  --vscode-notificationsWarningIcon-foreground: #bf8803;
  --vscode-notificationsInfoIcon-foreground: #1a85ff;
  --vscode-editorGutter-modifiedBackground: #005fb8;
  --vscode-editorGutter-modifiedSecondaryBackground: #3aa0ff;
  --vscode-editorGutter-addedBackground: #2ea043;
  --vscode-editorGutter-addedSecondaryBackground: #83db93;
  --vscode-editorGutter-deletedBackground: #f85149;
  --vscode-editorGutter-deletedSecondaryBackground: #fcaaa6;
  --vscode-minimapGutter-modifiedBackground: #005fb8;
  --vscode-minimapGutter-addedBackground: #2ea043;
  --vscode-minimapGutter-deletedBackground: #f85149;
  --vscode-editorOverviewRuler-modifiedForeground: rgb(0 95 184 / 60%);
  --vscode-editorOverviewRuler-addedForeground: rgb(46 160 67 / 60%);
  --vscode-editorOverviewRuler-deletedForeground: rgb(248 81 73 / 60%);
  --vscode-editorGutter-itemGlyphForeground: #3b3b3b;
  --vscode-editorGutter-itemBackground: #d5d8e9;
  --vscode-terminal-foreground: #3b3b3b;
  --vscode-terminalCursor-foreground: #005fb8;
  --vscode-terminal-selectionBackground: #add6ff;
  --vscode-terminal-inactiveSelectionBackground: #e5ebf1;
  --vscode-terminalCommandDecoration-defaultBackground: rgb(0 0 0 / 25%);
  --vscode-terminalCommandDecoration-successBackground: #2090d3;
  --vscode-terminalCommandDecoration-errorBackground: #e51400;
  --vscode-terminalOverviewRuler-cursorForeground: rgb(160 160 160 / 80%);
  --vscode-terminal-border: #e5e5e5;
  --vscode-terminalOverviewRuler-border: #e5e5e5;
  --vscode-terminal-findMatchBackground: #a8ac94;
  --vscode-terminal-hoverHighlightBackground: rgb(173 214 255 / 7%);
  --vscode-terminal-findMatchHighlightBackground: rgb(234 92 0 / 33%);
  --vscode-terminalOverviewRuler-findMatchForeground: rgb(209 134 22 / 49%);
  --vscode-terminal-dropBackground: rgb(38 119 203 / 18%);
  --vscode-terminal-tab\.activeBorder: #005fb8;
  --vscode-terminal-initialHintForeground: rgb(0 0 0 / 47%);
  --vscode-scmGraph-historyItemRefColor: #1a85ff;
  --vscode-scmGraph-historyItemRemoteRefColor: #652d90;
  --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
  --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #3b3b3b;
  --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #ccc;
  --vscode-scmGraph-historyItemHoverLabelForeground: #fff;
  --vscode-scmGraph-historyItemHoverAdditionsForeground: #587c0c;
  --vscode-scmGraph-historyItemHoverDeletionsForeground: #ad0707;
  --vscode-scmGraph-foreground1: #ffb000;
  --vscode-scmGraph-foreground2: #dc267f;
  --vscode-scmGraph-foreground3: #994f00;
  --vscode-scmGraph-foreground4: #40b0a6;
  --vscode-scmGraph-foreground5: #b66dff;
  --vscode-commentsView-resolvedIcon: rgb(97 97 97 / 50%);
  --vscode-commentsView-unresolvedIcon: #005fb8;
  --vscode-editorCommentsWidget-replyInputBackground: #f3f3f3;
  --vscode-editorCommentsWidget-resolvedBorder: rgb(97 97 97 / 50%);
  --vscode-editorCommentsWidget-unresolvedBorder: #005fb8;
  --vscode-editorCommentsWidget-rangeBackground: rgb(0 95 184 / 10%);
  --vscode-editorCommentsWidget-rangeActiveBackground: rgb(0 95 184 / 10%);
  --vscode-editorGutter-commentRangeForeground: #d5d8e9;
  --vscode-editorOverviewRuler-commentForeground: #d5d8e9;
  --vscode-editorOverviewRuler-commentUnresolvedForeground: #d5d8e9;
  --vscode-editorGutter-commentGlyphForeground: #3b3b3b;
  --vscode-editorGutter-commentUnresolvedGlyphForeground: #3b3b3b;
  --vscode-ports-iconRunningProcessForeground: #369432;
  --vscode-editorWatermark-foreground: rgb(59 59 59 / 68%);
  --vscode-settings-headerForeground: #1f1f1f;
  --vscode-settings-settingsHeaderHoverForeground: rgb(31 31 31 / 70%);
  --vscode-settings-modifiedItemIndicator: rgb(187 128 9 / 40%);
  --vscode-settings-headerBorder: #e5e5e5;
  --vscode-settings-sashBorder: #e5e5e5;
  --vscode-settings-dropdownBackground: #fff;
  --vscode-settings-dropdownForeground: #3b3b3b;
  --vscode-settings-dropdownBorder: #cecece;
  --vscode-settings-dropdownListBorder: #c8c8c8;
  --vscode-settings-checkboxBackground: #f8f8f8;
  --vscode-settings-checkboxForeground: #3b3b3b;
  --vscode-settings-checkboxBorder: #cecece;
  --vscode-settings-textInputBackground: #fff;
  --vscode-settings-textInputForeground: #3b3b3b;
  --vscode-settings-textInputBorder: #cecece;
  --vscode-settings-numberInputBackground: #fff;
  --vscode-settings-numberInputForeground: #3b3b3b;
  --vscode-settings-numberInputBorder: #cecece;
  --vscode-settings-focusedRowBackground: rgb(242 242 242 / 60%);
  --vscode-settings-rowHoverBackground: rgb(242 242 242 / 30%);
  --vscode-settings-focusedRowBorder: #005fb8;
  --vscode-keybindingTable-headerBackground: rgb(59 59 59 / 4%);
  --vscode-keybindingTable-rowsBackground: rgb(59 59 59 / 4%);
  --vscode-extensionButton-background: #005fb8;
  --vscode-extensionButton-foreground: #fff;
  --vscode-extensionButton-hoverBackground: #0258a8;
  --vscode-extensionButton-separator: rgb(255 255 255 / 40%);
  --vscode-extensionButton-prominentBackground: #005fb8;
  --vscode-extensionButton-prominentForeground: #fff;
  --vscode-extensionButton-prominentHoverBackground: #0258a8;
  --vscode-debugToolBar-background: #f3f3f3;
  --vscode-debugIcon-startForeground: #388a34;
  --vscode-inlineChat-foreground: #3b3b3b;
  --vscode-inlineChat-background: #f8f8f8;
  --vscode-inlineChat-border: #c8c8c8;
  --vscode-inlineChat-shadow: rgb(0 0 0 / 16%);
  --vscode-inlineChatInput-border: #c8c8c8;
  --vscode-inlineChatInput-focusBorder: #005fb8;
  --vscode-inlineChatInput-placeholderForeground: #767676;
  --vscode-inlineChatInput-background: #fff;
  --vscode-inlineChatDiff-inserted: rgb(156 204 44 / 13%);
  --vscode-editorOverviewRuler-inlineChatInserted: rgb(156 204 44 / 20%);
  --vscode-editorMinimap-inlineChatInserted: rgb(156 204 44 / 20%);
  --vscode-inlineChatDiff-removed: rgb(255 0 0 / 10%);
  --vscode-editorOverviewRuler-inlineChatRemoved: rgb(255 0 0 / 16%);
  --vscode-extensionIcon-verifiedForeground: #005fb8;
  --vscode-extensionIcon-starForeground: #df6100;
  --vscode-extensionIcon-preReleaseForeground: #1d9271;
  --vscode-extensionIcon-sponsorForeground: #b51e78;
  --vscode-extensionIcon-privateForeground: rgb(0 0 0 / 38%);
  --vscode-chat-requestBorder: rgb(0 0 0 / 10%);
  --vscode-chat-requestBackground: rgb(255 255 255 / 62%);
  --vscode-chat-slashCommandBackground: rgb(173 206 255 / 48%);
  --vscode-chat-slashCommandForeground: #26569e;
  --vscode-chat-avatarBackground: #f2f2f2;
  --vscode-chat-avatarForeground: #3b3b3b;
  --vscode-chat-editedFileForeground: #895503;
  --vscode-chat-requestCodeBorder: rgb(14 99 156 / 25%);
  --vscode-chat-requestBubbleBackground: rgb(173 214 255 / 30%);
  --vscode-chat-requestBubbleHoverBackground: #add6ff;
  --vscode-chat-checkpointSeparator: #a9a9a9;
  --vscode-chat-linesAddedForeground: #107c10;
  --vscode-chat-linesRemovedForeground: #bc2f32;
  --vscode-notebook-cellBorderColor: #e5e5e5;
  --vscode-notebook-focusedEditorBorder: #005fb8;
  --vscode-notebookStatusSuccessIcon-foreground: #388a34;
  --vscode-notebookEditorOverviewRuler-runningCellForeground: #388a34;
  --vscode-notebookStatusErrorIcon-foreground: #f85149;
  --vscode-notebookStatusRunningIcon-foreground: #3b3b3b;
  --vscode-notebook-cellToolbarSeparator: rgb(128 128 128 / 35%);
  --vscode-notebook-selectedCellBackground: rgb(200 221 241 / 31%);
  --vscode-notebook-selectedCellBorder: #e5e5e5;
  --vscode-notebook-focusedCellBorder: #005fb8;
  --vscode-notebook-inactiveFocusedCellBorder: #e5e5e5;
  --vscode-notebook-cellStatusBarItemHoverBackground: rgb(0 0 0 / 8%);
  --vscode-notebook-cellInsertionIndicator: #005fb8;
  --vscode-notebookScrollbarSlider-background: rgb(100 100 100 / 40%);
  --vscode-notebookScrollbarSlider-hoverBackground: rgb(100 100 100 / 70%);
  --vscode-notebookScrollbarSlider-activeBackground: rgb(0 0 0 / 60%);
  --vscode-notebook-symbolHighlightBackground: rgb(253 255 0 / 20%);
  --vscode-notebook-cellEditorBackground: #f8f8f8;
  --vscode-notebook-editorBackground: #fff;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #f1dfde;
  --vscode-editor-inlineValuesForeground: rgb(0 0 0 / 50%);
  --vscode-editor-inlineValuesBackground: rgb(255 200 0 / 20%);
  --vscode-debugIcon-breakpointForeground: #e51400;
  --vscode-debugIcon-breakpointDisabledForeground: #848484;
  --vscode-debugIcon-breakpointUnverifiedForeground: #848484;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #be8700;
  --vscode-debugIcon-breakpointStackframeForeground: #89d185;
  --vscode-editor-stackFrameHighlightBackground: rgb(255 255 102 / 45%);
  --vscode-editor-focusedStackFrameHighlightBackground: rgb(206 231 206 / 45%);
  --vscode-multiDiffEditor-headerBackground: #f8f8f8;
  --vscode-multiDiffEditor-background: #fff;
  --vscode-multiDiffEditor-border: #ccc;
  --vscode-minimap-chatEditHighlight: rgb(255 255 255 / 60%);
  --vscode-gauge-foreground: #007acc;
  --vscode-gauge-background: rgb(0 122 204 / 30%);
  --vscode-gauge-warningForeground: #b89500;
  --vscode-gauge-warningBackground: rgb(184 149 0 / 30%);
  --vscode-gauge-errorForeground: #be1100;
  --vscode-gauge-errorBackground: rgb(190 17 0 / 30%);
  --vscode-mcpIcon-starForeground: #df6100;
  --vscode-interactive-activeCodeBorder: #007acc;
  --vscode-interactive-inactiveCodeBorder: #e4e6f1;
  --vscode-testing-iconFailed: #f14c4c;
  --vscode-testing-iconErrored: #f14c4c;
  --vscode-testing-iconPassed: #73c991;
  --vscode-testing-runAction: #73c991;
  --vscode-testing-iconQueued: #cca700;
  --vscode-testing-iconUnset: #848484;
  --vscode-testing-iconSkipped: #848484;
  --vscode-testing-peekBorder: #e51400;
  --vscode-testing-messagePeekBorder: #1a85ff;
  --vscode-testing-peekHeaderBackground: rgb(229 20 0 / 10%);
  --vscode-testing-messagePeekHeaderBackground: rgb(26 133 255 / 10%);
  --vscode-testing-coveredBackground: rgb(156 204 44 / 25%);
  --vscode-testing-coveredBorder: rgb(156 204 44 / 19%);
  --vscode-testing-coveredGutterBackground: rgb(156 204 44 / 15%);
  --vscode-testing-uncoveredBranchBackground: #f99;
  --vscode-testing-uncoveredBackground: rgb(255 0 0 / 20%);
  --vscode-testing-uncoveredBorder: rgb(255 0 0 / 15%);
  --vscode-testing-uncoveredGutterBackground: rgb(255 0 0 / 30%);
  --vscode-testing-coverCountBadgeBackground: #ccc;
  --vscode-testing-coverCountBadgeForeground: #3b3b3b;
  --vscode-testing-message\.error\.badgeBackground: #e51400;
  --vscode-testing-message\.error\.badgeBorder: #e51400;
  --vscode-testing-message\.error\.badgeForeground: #fff;
  --vscode-testing-message\.info\.decorationForeground: rgb(59 59 59 / 50%);
  --vscode-testing-iconErrored\.retired: rgb(241 76 76 / 70%);
  --vscode-testing-iconFailed\.retired: rgb(241 76 76 / 70%);
  --vscode-testing-iconPassed\.retired: rgb(115 201 145 / 70%);
  --vscode-testing-iconQueued\.retired: rgb(204 167 0 / 70%);
  --vscode-testing-iconUnset\.retired: rgb(132 132 132 / 70%);
  --vscode-testing-iconSkipped\.retired: rgb(132 132 132 / 70%);
  --vscode-searchEditor-textInputBorder: #cecece;
  --vscode-statusBar-debuggingBackground: #fd716c;
  --vscode-statusBar-debuggingForeground: #000;
  --vscode-statusBar-debuggingBorder: #e5e5e5;
  --vscode-commandCenter-debuggingBackground: rgb(253 113 108 / 26%);
  --vscode-debugTokenExpression-name: #9b46b0;
  --vscode-debugTokenExpression-type: #4a90e2;
  --vscode-debugTokenExpression-value: rgb(108 108 108 / 80%);
  --vscode-debugTokenExpression-string: #a31515;
  --vscode-debugTokenExpression-boolean: #00f;
  --vscode-debugTokenExpression-number: #098658;
  --vscode-debugTokenExpression-error: #e51400;
  --vscode-debugView-exceptionLabelForeground: #fff;
  --vscode-debugView-exceptionLabelBackground: #a31515;
  --vscode-debugView-stateLabelForeground: #3b3b3b;
  --vscode-debugView-stateLabelBackground: rgb(136 136 136 / 27%);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #1a85ff;
  --vscode-debugConsole-warningForeground: #bf8803;
  --vscode-debugConsole-errorForeground: #f85149;
  --vscode-debugConsole-sourceForeground: #3b3b3b;
  --vscode-debugConsoleInputIcon-foreground: #3b3b3b;
  --vscode-debugIcon-pauseForeground: #007acc;
  --vscode-debugIcon-stopForeground: #a1260d;
  --vscode-debugIcon-disconnectForeground: #a1260d;
  --vscode-debugIcon-restartForeground: #388a34;
  --vscode-debugIcon-stepOverForeground: #007acc;
  --vscode-debugIcon-stepIntoForeground: #007acc;
  --vscode-debugIcon-stepOutForeground: #007acc;
  --vscode-debugIcon-continueForeground: #007acc;
  --vscode-debugIcon-stepBackForeground: #007acc;
  --vscode-mergeEditor-change\.background: rgb(155 185 85 / 20%);
  --vscode-mergeEditor-change\.word\.background: rgb(156 204 44 / 40%);
  --vscode-mergeEditor-changeBase\.background: #fcc;
  --vscode-mergeEditor-changeBase\.word\.background: #ffa3a3;
  --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: #ffa600;
  --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
  --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgb(134 134 134 / 29%);
  --vscode-mergeEditor-conflict\.handledFocused\.border: rgb(193 193 193 / 80%);
  --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgb(173 172 168 / 93%);
  --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
  --vscode-mergeEditor-conflictingLines\.background: rgb(255 234 0 / 28%);
  --vscode-mergeEditor-conflict\.input1\.background: rgb(64 200 174 / 20%);
  --vscode-mergeEditor-conflict\.input2\.background: rgb(64 166 255 / 20%);
  --vscode-terminal-ansiBlack: #000;
  --vscode-terminal-ansiRed: #cd3131;
  --vscode-terminal-ansiGreen: #107c10;
  --vscode-terminal-ansiYellow: #949800;
  --vscode-terminal-ansiBlue: #0451a5;
  --vscode-terminal-ansiMagenta: #bc05bc;
  --vscode-terminal-ansiCyan: #0598bc;
  --vscode-terminal-ansiWhite: #555;
  --vscode-terminal-ansiBrightBlack: #666;
  --vscode-terminal-ansiBrightRed: #cd3131;
  --vscode-terminal-ansiBrightGreen: #14ce14;
  --vscode-terminal-ansiBrightYellow: #b5ba00;
  --vscode-terminal-ansiBrightBlue: #0451a5;
  --vscode-terminal-ansiBrightMagenta: #bc05bc;
  --vscode-terminal-ansiBrightCyan: #0598bc;
  --vscode-terminal-ansiBrightWhite: #a5a5a5;
  --vscode-simpleFindWidget-sashBorder: #c8c8c8;
  --vscode-terminalStickyScrollHover-background: #f0f0f0;
  --vscode-terminalCommandGuide-foreground: #e4e6f1;
  --vscode-terminalSymbolIcon-flagForeground: #d67e00;
  --vscode-terminalSymbolIcon-aliasForeground: #652d90;
  --vscode-terminalSymbolIcon-optionValueForeground: #007acc;
  --vscode-terminalSymbolIcon-methodForeground: #652d90;
  --vscode-terminalSymbolIcon-argumentForeground: #007acc;
  --vscode-terminalSymbolIcon-optionForeground: #d67e00;
  --vscode-terminalSymbolIcon-fileForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-folderForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-commitForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-branchForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-tagForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-stashForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-remoteForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-pullRequestForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-pullRequestDoneForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-symbolicLinkFileForeground: #3b3b3b;
  --vscode-terminalSymbolIcon-symbolicLinkFolderForeground: #3b3b3b;
  --vscode-welcomePage-tileBackground: #f3f3f3;
  --vscode-welcomePage-tileHoverBackground: #dfdfdf;
  --vscode-welcomePage-tileBorder: rgb(0 0 0 / 10%);
  --vscode-welcomePage-progress\.background: #fff;
  --vscode-welcomePage-progress\.foreground: #005fb8;
  --vscode-walkthrough-stepTitle\.foreground: #000;
  --vscode-walkThrough-embeddedEditorBackground: #f4f4f4;
  --vscode-profiles-sashBorder: #e5e5e5;
  --vscode-gitDecoration-addedResourceForeground: #587c0c;
  --vscode-gitDecoration-modifiedResourceForeground: #895503;
  --vscode-gitDecoration-deletedResourceForeground: #ad0707;
  --vscode-gitDecoration-renamedResourceForeground: #007100;
  --vscode-gitDecoration-untrackedResourceForeground: #007100;
  --vscode-gitDecoration-ignoredResourceForeground: #8e8e90;
  --vscode-gitDecoration-stageModifiedResourceForeground: #895503;
  --vscode-gitDecoration-stageDeletedResourceForeground: #ad0707;
  --vscode-gitDecoration-conflictingResourceForeground: #ad0707;
  --vscode-gitDecoration-submoduleResourceForeground: #1258a7;
  --vscode-git-blame\.editorDecorationForeground: #969696;
  --vscode-testExplorer-errorDecorationBackground: #f2dede;
  --vscode-errorLens-errorBackground: rgb(228 84 84 / 13%);
  --vscode-errorLens-errorMessageBackground: rgb(228 84 84 / 10%);
  --vscode-errorLens-errorRangeBackground: rgb(228 84 84 / 10%);
  --vscode-errorLens-errorBackgroundLight: rgb(228 84 84 / 13%);
  --vscode-errorLens-errorForeground: #e45454;
  --vscode-errorLens-errorForegroundLight: #e45454;
  --vscode-errorLens-warningBackground: rgb(255 148 47 / 13%);
  --vscode-errorLens-warningMessageBackground: rgb(255 148 47 / 10%);
  --vscode-errorLens-warningRangeBackground: rgb(255 148 47 / 10%);
  --vscode-errorLens-warningBackgroundLight: rgb(255 148 47 / 13%);
  --vscode-errorLens-warningForeground: #ff942f;
  --vscode-errorLens-warningForegroundLight: #ff942f;
  --vscode-errorLens-infoBackground: rgb(0 183 228 / 13%);
  --vscode-errorLens-infoMessageBackground: rgb(0 183 228 / 10%);
  --vscode-errorLens-infoRangeBackground: rgb(0 183 228 / 10%);
  --vscode-errorLens-infoBackgroundLight: rgb(0 183 228 / 13%);
  --vscode-errorLens-infoForeground: #00b7e4;
  --vscode-errorLens-infoForegroundLight: #00b7e4;
  --vscode-errorLens-hintBackground: rgb(23 162 162 / 13%);
  --vscode-errorLens-hintMessageBackground: rgb(23 162 162 / 10%);
  --vscode-errorLens-hintRangeBackground: rgb(23 162 162 / 10%);
  --vscode-errorLens-hintBackgroundLight: rgb(23 162 162 / 13%);
  --vscode-errorLens-hintForeground: #2faf64;
  --vscode-errorLens-hintForegroundLight: #2faf64;
  --vscode-errorLens-statusBarIconErrorForeground: #e45454;
  --vscode-errorLens-statusBarIconWarningForeground: #ff942f;
  --vscode-errorLens-statusBarErrorForeground: #e45454;
  --vscode-errorLens-statusBarWarningForeground: #ff942f;
  --vscode-errorLens-statusBarInfoForeground: #00b7e4;
  --vscode-errorLens-statusBarHintForeground: #2faf64;
  --vscode-editor-font-feature-settings: "liga" on, "calt" on;
}
