.container {
  font-family: var(--font-mono), monospace;
  font-size: var(--font-size-xs);
  background-color: var(--bg-color);
  color: var(--text-secondary);
  padding: var(--spacing-mds) var(--spacing-mds) calc(var(--spacing-mds) - 2px);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--border-color);
  word-break: break-all;
  white-space: pre-wrap;
  line-height: 1.4;
  max-width: 100%;
  overflow-x: auto;
}
