@import "./styles/variables.module.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: var(--font-family), serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

pre {
  font-family: var(--font-mono);
  margin: 0;
}
