@import "@acton/shared-ui/styles/tokens.css";
@import "@acton/ui/styles/tokens.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--acton-color-surface);
  color: var(--acton-color-text);
  font-family: var(--acton-font-sans), serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

pre {
  font-family: var(--acton-font-mono), monospace;
  margin: 0;
}
